Source_Code/.metadata/*
Source_Code/_can_dbc/*
Packages/*
Source_Code/lpc1758_Bridge_Module/.settings/*
Source_Code/lpc1758_Bridge_Module/_build/*
Source_Code/lpc1758_Bridge_Module/_build_with_dbc/*

Source_Code/lpc1758_GPS_Module/.settings/*
Source_Code/lpc1758_GPS_Module/_build/*
Source_Code/lpc1758_GPS_Module/_build_with_dbc/*

Source_Code/lpc1758_Master_Module/.settings/*
Source_Code/lpc1758_Master_Module/_build/*
Source_Code/lpc1758_Master_Module/_build_with_dbc/*

Source_Code/lpc1758_Motor_Module/.settings/*
Source_Code/lpc1758_Motor_Module/_build/*
Source_Code/lpc1758_Motor_Module/_build_with_dbc/*

Source_Code/lpc1758_Sensor_Module/.settings/*
Source_Code/lpc1758_Sensor_Module/_build/*
Source_Code/lpc1758_Sensor_Module/_build_with_dbc/*

Source_Code/GooglemapRouter/.idea/*
Source_Code/GooglemapRouter/gradle/*
*.ini
*.index
*.iml
*.gradle
*.properties